nav{ /*modifie les navbar*/
  float: right;
  margin-top: 10px;
  position: relative;
}

nav a{ /*modifie les liens des navbar*/
  margin-right: 15px;
  position: relative;
}

nav a:hover{ /*modifie les textes en les soulignant en passant le curseur dessus*/
  text-decoration: underline;
}

#menu{ /*modifie le menu de la navbar*/
  position: relative;
  bottom:5px;
  width: 20px;
  height: 20px;
}

#cloche{ /*modifie la notification de la navbar*/
  position: relative;
  bottom:5px;
  width: 20px;
  height: 20px;
}

#profil{ /*modifie le profil de la navbar*/
  position: relative;
  width: 30px;
  height: 30px;
}

/*{
  border:1px solid black;
}*/

#mail{ /*modifie les mails de la navbar*/
  bottom: 10px;
}

#image{ /*modifie le lien images de la navbar*/
  bottom: 10px;
}

form img{ /*modifie la taille de l'image google*/
  height: 55%;
  width: 35%;
  margin-left:35%;
  margin-top:10%;
}

input{ /*modifie la taille de la barre de recherche*/
  height: 30px;
}


#recherche{ /*modifie la position de la boite div où se trouve l'image google, la barre de recherche et les boutons */
  margin-left:34%;
}

#barreRecherche{
  display: block;
  margin-left: -5%;
  width: 65%;
}

#boutonrecherche{
  margin-left: 13%;
}



button{ /*modifie les boutons*/
  margin-top: 30px;
  height: 40px;
  width: 130px;
  font-weight: bold;
  color:rgb(116, 116, 116);
  background-color: rgb(241, 241, 241);
  border-radius: 3px;
  border:3px solid rgb(241, 241, 241);
}


#ecart{
  height: 15em;
}

footer{ /*modifie le footer*/
  border:0.5px solid rgb(143, 141, 141);
  background-color:rgb(233, 233, 233);
  padding-top:10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
}

.droite{
  float: right;
}

footer a{ /*modifie les liens du footer*/
  margin-left: 1%;
  margin-right: 1%
}

footer a:hover{ /*modifie les liens du footer quand le curseur passe dessus*/
  text-decoration: underline;
}

a{ /*modifie les liens*/
  text-decoration: none;
  color:rgb(101, 101, 101);
  font-family: sans-serif;
  font-size: 12px;
}
